- @opened_channels.each do |type, channels|
  - next if channels.empty?
  .row
    .col-xs-12
      %h4= type.humanize
      %table.table.table-striped
        - channels.each do |channel|
          %tr
            %td
              - if channel.direct_message?
                %img{src: channel.partner(current_user).avatar, class: "user-avatar"}
              = link_to channel.name(current_user), channel_path(channel)

- if @archived_channels.any?
  .row
    .col-xs-12
      %h4 Archived Channels
      %table.table.table-striped
        - @archived_channels.each do |channel|
          %tr
            %td= link_to channel.name(current_user), channel_path(channel)
