%h2 Members

%table.table.table-striped
  - @team.users.each do |user|
    %tr
      %td
        = link_to user.username, member_team_path(user.slug)

= link_to "View your channels", "/channels", class: "btn btn-success"
