-# frozen_string_literal: true
%h2 Members

.row
  .col-xs-12
    %table.table.table-striped
      - @team.users.each do |user|
        %tr
          %td.username
            %img{src: user.avatar, class: "user-avatar"}
            = link_to "#{user.name} (#{user.username})", member_team_path(user.slug)
