/log
/tmp
/public/system

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore rbenv ruby version
.ruby-version

# Ignore Byebug command history file.
.byebug_history

# Ignore config files, keep .example instead
config/database.yml
config/application.yml
db/data/
