default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: slack_backup_development

test:
  <<: *default
  database: slack_backup_test

production:
  <<: *default
  database: slack_backup_production
  username: slack_backup
  password: <%= ENV['SLACK_BACKUP_DATABASE_PASSWORD'] %>
